#create-game-btns a {
    background: black;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
}
#create-game-btns, #join-game-btns {
    background-color: white;
}
.btn-container {
    margin-top: 10px;
    border: 5px solid black;
}
h2, h3  {
    font-family: 'Oswald', sans-serif;
}
body {
    background-color: rgb(125, 187, 187);
}