#yopic {
    background-color: pink;
    width: 180px;
    height: 190px;; 
   flex-direction: row;
  
   
   

}
#UrCard {
  width: 160px;
  height: 170px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  
  border-radius: 50%;
  image-rendering: auto;
  border: 15px groove white;
  margin-right: 30px;;
 
}

